<div class="container top-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <%= image_tag 'logo5.png', size:'200x', class: "subtitle" %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "recruit_realtime@gmail.com", class: "signupdata" %>
          </div>
          <div class="field">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", value: "Password", class: "signupdata" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "PASS記憶" %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-success subtitle02"  %>
          </div>
        <% end %>
        <h5 class="topsubtitle3">採用担当者様へ</h5>
        <p><b>以下のIDとPWでログインをお願いします。</b></p>
        <p>ID: recruit_realtime@gmail.com</p>
        <p>PW: Password</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <p><b>会員登録がお済みでない方</b></p>
      <p>こちらから新規登録を行って下さい。</p>
      <%= link_to "新規作成", new_user_registration_path, class: "btn btn-success" %>
      <p><%= render "users/shared/links" %></p>
    </div>
  </div>
</div>