<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <h4>投稿編集</h4>
        <% if @post_image.errors.any? %>
          <%= @post_image.errors.count %>件がエラーが発生しました。
          <% @post_image.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 offset-md-3">
      <%= form_with model: @post_image, url: public_post_images_path(@post_image.id),local:true do |f| %>

      <%= f.label :image, "画像" %>
      <%= f.attachment_field :image %>

      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class:"form-control" %>

      <%= f.label :caption, "本文" %>
      <%= f.text_area :caption, class:"form-control" %>

      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class:"form-control" %>

      <%= f.submit "編集保存", class:"btn btn-success" %>
      <%= link_to "投稿削除", public_post_image_path(@post_image.id), method: :delete, class: "btn btn-danger" %>

      <% end %>
    </div>
  </div>
</div>