<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Realtime AICHI</h2> </br>
        〜常に最新の愛知が知れるサイト〜
        <div class="text-right">
          <%= link_to "+", new_public_post_image_path, class: " btn btn-light", style: "border-radius: 50%" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <% @post_images.each do |post_image| %>
        <%= link_to public_post_image_path(post_image.id) do %>
        <%= attachment_image_tag item, :image, format: 'jpg', class: "img-responsive", fallback: 'no_image.png', size: '400x400' %></br>
        <%= link_to public_user(user.id)%>
        <%= post_image.user.name %>
        <% if post_image.favorited_by?(current_user) %>
          <%= link_to public_post_image_favorites_path(post_image), method: :delete do %>
            ♥ <%= post_image.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to public_post_image_favorites_path(post_image), method: :post do %>
            ♡ <%= post_image.favorites.count %> いいね
          <% end %>
        <% end %>
        <%= post_image.title %>
        <%= post_image.caption %>

        <%# 地図機能追加予定%>


        <% end %>
      <% end %>
    </div>
  </div>
</div>