<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 offset-md-1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= image_tag 'logo14.png', size:'500x300', class: "maintitle" %>
    <%= link_to "+", new_public_post_image_path, class: "btn btn-light", style: "border-radius: 50%" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id='map1'></div>

      <script>
        function initMap1() {

          //初期表示位置設定
          let latlng = new google.maps.LatLng(35.1706261, 136.8836 );
          //デザイン
          let styles = [
               {
                stylers: [
                 { "saturation": 0 },
                 { "lightness": 0 }
                ]
               }
              ];

          let map = new google.maps.Map(document.getElementById('map1'), {
              zoom: 13,
              styles: styles,
              center: latlng
          });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          //複数マーカー設定
          <% @post_images.each do |post_image|%>
            ( function() {
              let markerLatLng = new google.maps.LatLng({lat: <%= post_image.latitude %>, lng: <%= post_image.longitude %>});
              let marker = new google.maps.Marker({
                position: markerLatLng,
                map: map
              });
              //マーカークリック時、詳細情報表示
              let infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: "<a href='<%= public_post_image_path(post_image.id) %>' target='_blank'><%= post_image.title %></a>"
              }); //詳細ページへのリンク表示
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });

           })();
          <% end %>
          //複数マーカー設定 ここまで
      }
      </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap1"></script>

    </div>
  </div>
</div>