<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Realtime AICHI</h2> </br>
        〜常に最新の愛知が知れるサイト〜
        <div class="text-right">
          <%= link_to "+", new_public_post_image_path, class: " btn btn-light", style: "border-radius: 50%" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div id='map1'></div>

      <script>
        function initMap1() {
    
          //初期表示位置設定
          let latlng = new google.maps.LatLng(35.1706261, 136.8836 );
          //デザイン
          let styles = [
               {
                stylers: [
                 { "saturation": 0 },
                 { "lightness": 0 }
                ]
               }
              ];
    
          let map = new google.maps.Map(document.getElementById('map1'), {
              zoom: 17,
              styles: styles,
              center: latlng
          });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);
    
          //複数マーカー設定
          <% @post_images.each do |post_image|%>
            ( function() { 
              let markerLatLng = new google.maps.LatLng({lat: <%= post_image.lat %>, lng: <%= post_image.lng %>});
              let marker = new google.maps.Marker({ 
                position: markerLatLng, 
                map: map 
              });
              //マーカークリック時、詳細情報表示
              let infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: "<a href='<%= public_post_image_path(post_image.id) %>' target='_blank'><%= post_image.title %></a>"
              }); //詳細ページへのリンク表示
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
    
           })();
          <% end %>
          //複数マーカー設定 ここまで  
      }
      </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap01"></script>

    </div>
  </div>
</div>