<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-1">
      <h3><%= image_tag 'logo15.png', size:'300x75', class: "subtitle" %></h3>
        <% if @post_image.errors.any? %>
          <%= @post_image.errors.count %>件がエラーが発生しました。</br>
          <% @post_image.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-1">
      <%= form_with model: @post_image, url: public_post_images_path, local:true do |f| %>
      <table>
        <tbody>
          <tr>
            <td><%= f.label :image, "画像", class: "posttitle"  %></td>
            <td><%= f.attachment_field :image, class: "postcontent" %></td>
          </tr>
          <tr>
            <td><%= f.label :title, "タイトル", class: "posttitle" %></td>
            <td><%= f.text_field :title, class: "postcontent" %></td>
          </tr>
          <tr>
            <td><%= f.label :caption, "本文", class: "posttitle"  %></td>
            <td><%= f.text_area :caption, class: "postcontent1", placeholder: "コメント入力" %></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所", class: "posttitle"  %></td>
            <td><%= f.text_field :address, class: "postcontent" %> </td>
          </tr>
          <tr>
            <td><%= f.label :latitude,"緯度", class: "posttitle"  %></td>
            <td><%= f.text_field :latitude,:value =>"", id: :latitude, class: "postcontent2" %></td>
          </tr>
          <tr>
            <td><%= f.label :longitude,"経度", class: "posttitle"  %></td>
            <td><%= f.text_field :longitude,:value =>"", id: :longitude, class: "postcontent2" %></td>
          </tr>
          <tr>
            <td><%= f.submit "投稿", class:"btn btn-success posting" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 offset-md-2">
      <h2 class="posttitle">マップ</h2>
        <input id="address" type="textbox" value="愛知県名古屋市中村区名駅１丁目１−４", class= "postmap" >
        <input type="button" value="検索" onclick="codeAddress()">
          <p class="posttitle">マーカーをドラック＆ドロップで位置の調整ができます。<p>
    <div id='map'></div>
    </div>
  </div>
</div>



<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.1706261, lng: 136.8836},  // 名古屋駅を初回は表示
    zoom: 17,
  });
}

//検索後のマップ表示
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーの複数作成不可
        if (aft == true){
            marker.setMap(null);
        }

        //新規マーカー作成
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能
        });

        //二度目以降か判断
        aft = true

        //検索時、緯度経度入力
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('latitude').value = ev.latLng.lat();
            document.getElementById('longitude').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>