<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= attachment_image_tag @post_image, :image, format: 'jpg', fallback: 'no_image.png', size: '400x400' %>
        <% if @post_image.user.id == current_user.id %>
        <%= link_to "編集する", edit_public_post_image_path(@post_image.id), class:"btn btn-success" %>
        <% end %>
      <%= link_to @post_image.user.name, public_user_path(@post_image.user.id) %>
        <% if @post_image.favorited_by?(current_user) %>
          <%= link_to public_post_image_favorites_path(@post_image.id), method: :delete do %>
          ♥ <%= @post_image.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to public_post_image_favorites_path(@post_image.id), method: :post do %>
          ♡ <%= @post_image.favorites.count %> いいね
          <% end %>
        <% end %>
      <%= @post_image.title %>
      <%= @post_image.caption %>

      <% @post_image.post_comments.each do |post_comment| %>
        <%= post_comment.user.name %> <%= post_comment.comment %>
      <% end %>

      <%= form_with model:[@post_image, @post_comment], url: public_post_image_post_comments_path(@post_image.id), local: true do |f| %>
      <%= f.label :comment, "コメント入力" %>
      <%= f.text_area :comment, rows:'3'  %>
      <%= f.submit "コメント送信", class: "btn btn-success" %>
      <% end %>

    </div>
  </div>
</div>