<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 offset-md-2">
      <%= attachment_image_tag @post_image, :image, format: 'jpg', fallback: 'no_image.png', size: '400x400' %>
        <% if @post_image.user.id == current_user.id %>
        <%= link_to "編集する", edit_public_post_image_path(@post_image.id), class:"btn btn-success" %>
        <% end %>
      <table>
        <tbody>
          <tr>
             <td>
              <% if @post_image.favorited_by?(current_user) %>
                <%= link_to public_post_image_favorites_path(@post_image.id), method: :delete do %>
                ♥ <%= @post_image.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to public_post_image_favorites_path(@post_image.id), method: :post do %>
                ♡ <%= @post_image.favorites.count %> いいね
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr><td><%= link_to @post_image.user.name, public_user_path(@post_image.user.id) %></td></tr>
          <tr><td><%= @post_image.title %></td></tr>
          <tr><td><%= @post_image.caption %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
        <% @post_image.post_comments.each do |post_comment| %>
          <div class="commentarea">
            <%= post_comment.user.name %>
            <%= post_comment.comment %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 offset-md-2">
      <%= form_with model:[@post_image, @post_comment], url: public_post_image_post_comments_path(@post_image.id), local: true do |f| %>
      <table>
        <tbody>
          <tr><td><%= f.label :comment, "コメント入力" %></td></tr>
          <tr><td><%= f.text_area :comment, class: "postcontent3" %></td></tr>
          <tr><td><%= f.submit "コメント送信", class: "btn btn-success commentposting" %></td></tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>