<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h2><i class="far fa-address-card"></i>ログイン画面(採用担当者様向け)</h2>
        <%= form_with model: @user, url: new_user_session_path, local:true  do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "recruit_realtime@gmail.com", class: "signupdata" %>
          </div>
          <div class="field">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", value: "Password", class: "signupdata" %>
          </div>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "PASS記憶" %>
          </div>
          <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-success subtitle02"  %>
          </div>
        <% end %>
    </div>
    <div class="toppage"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h5 class="topsubtitle">採用担当者様へ</h5>
        <p><b>以下のIDとPWでログインをお願いします。</b></p>
        <p>ID: recruit_realtime@gmail.com</p>
        <p>PW: Password</p>
        <p>通常の御会員様は以下のボタンからログインして下さい。</p>
        <div><%= link_to "ログイン画面へ",new_user_session_path, class: "btn btn-success" %></div>
    </div>
  </div>
</div>