<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 col-md-2">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <h2><%= image_tag 'logo7.png', size:'250x50', class: "subtitle01" %></h2>
      <table>
        <thead>
           <tr>
            <th>会員No</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>現状</th>
          </tr>
        </thead>
        <tdody>
          <% @users.each do |user| %>
            <tr>
              <td class="userlist1"><%= user.id %></td>
              <td class="userlist2"><%= link_to user.name, admins_user_path(user.id) %></td>
              <td class="userlist3"><%= user.email %></td>
              <td class="userlist4">
                <% if user.validation == false %>
									<%= "o" %>
								    <% else %>
									<%= "x" %>
								<% end %>
							</td>
            </tr>
            <% end %>
        </tdody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto pagecontent">
      <%= paginate @users %>
    </div>
  </div>
</div>