<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h2><%= image_tag 'logo10.png', size:'250x50', class: "subtitle01" %></h2>
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>ユーザー名</th>
              <th>問い合わせタイトル</th>
            </tr>
          </thead>
          <tdody>
            <% @contacts.each do |contact| %>
              <tr>
                <td class="contactlist1"><%= contact.id %></td>
                <td class="contactlist2"><%= contact.user.name %></td>
                <td class="contactlist3"><%= link_to contact.title, admins_contact_path(contact.id) %></td>
              </tr>
            <% end %>
          </tdody>
        </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto pagecontent">
      <%= paginate @contacts %>
    </div>
  </div>
</div>