<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h2><%= image_tag 'logo6.png', size:'400x100', class: "subtitle" %></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email,"メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signupdata" %>
          </div>

          <div class="field">
            <%= f.label :password,"パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "signupdata" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "PASS記憶" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-success subtitle02" %>
          </div>
        <% end %>
        <%= render "admins/shared/links" %>
    </div>
  </div>
</div>