<div class="container">
  <div class="row">
    <h4>会員情報一覧</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table>
        <thead>
           <tr>
            <th>会員No</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tdody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admins_user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.validation == false %>
								  <%= "有効" %>
								<% else %>
								  <%= "退会" %>
								<% end %>
							</td>
            </tr>
          <% end %>
        </tdody>
      </table>
    </div>
  </div>
  <div class="mx-auto">
    <%= paginate @users %>
  </div>
</div>