<div class="container">
  <div class="row">
    <div class="col-md-4 md-offset-2">
      <%= image_tag 'logo8.png', size:'250x50' %>
        <% if @user.id == current_user.id %>
          <%= link_to "編集する", edit_public_user_path(@user.id), class:"btn btn-success" %>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 md-offset-2">
      <table>
        <tbody>
          <tr><td>ユーザー名</td><tr></tr>
          <tr><td><%= @user.name %></td></tr>
          <tr><td>自己紹介</td></tr>
          <tr><td><%= @user.introduction %></td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h4 class="postindexs">投稿一覧</h4>
      <div class="posts_images2">
        <% @post_images.each do |post_image| %>
          <%= link_to public_post_image_path(post_image.id) do %>
          <%= attachment_image_tag post_image, :image, format: 'jpg', class: "postpics ", fallback: 'no_image.png', size: '300x350' %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>